* {
    text-align: center;
}

html {
    width: 100vw;
}

input {
    margin-bottom: 10px;
}

.carregando {
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.amostra {
    display: flex;
    max-width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
}

.cardProduto {
    min-width: 150px;
    max-width: 250px;
    border: 2px;
    border-style: dotted;
    padding: 10px;
    margin: 15px;
}

.textoCard {
    text-align: center;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 4px;
    margin-bottom: 4px;
}

.nome {
    font-weight: bolder;
}
.descricao {
    font-style: italic;
}
.imagemCard {
    width: 100%;
}